@import "./shared.css";
@import "./variables.css";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    /* colors */



    /* z-index */
    --media-select:8888;
    --category-picker:2000;

    /* width */
}