@import "./shared.css";
@import "./variables.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    /* colors */



    /* z-index */
    --media-select:8888;
    --cate-index:8888;
    --font-filter: 'Montserrat', sans-serif;
    /* width */
}
.DraftEditor-root{
    min-height: 400px;

}
.img-wrapper{
    padding:15px 20px;

}
.img-wrapper img{
    width:100%;
    border-radius: 5px;
}
.right-aligned-flex{
    display: flex;
    justify-content: flex-end;
    padding:5px 0;
}
.react-confirm-alert-overlay{
    z-index: 99999 !important;
}