
.flex-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-center{
    text-align: center;
}
.p-m{
padding:1rem;
}
.p-sm{
    padding:5px !important;
}
.mr-sm{
    margin-right: 5px;
}