.container {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid rgba(128, 128, 128, 0.137);
  .main {
    display: grid;
    padding: 24px;

    grid-template-columns: 1fr;
    grid-template-rows: 220px 1fr;
    background-color: white;
  }
}
.thumb {
  background-position: center;
  background-size: cover;
}
.groupButtons {
  display: flex;
  justify-content: space-between;
  button {
    width: 100%;
    padding: 5px 0;
    border: none;
    cursor: pointer;

    font-size: 1.03em;
    &:first-child {
      // border-radius: 0 0 0 4px;
      background-color: #ededed;
      color: #2c2c2c;
    }
    &:last-child {
      background-color: #6f64f8;
      // border-radius: 0 0 4px 0;
      color: white;
    }
  }
}
.name {
  p:first-child {
  }
  p:nth-child(2) {
    color: gray;
  }
  p:last-child {
    font-size: 0.9em;
    color: green;
  }
}
