.container {
  background-color: white;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 1fr;
  min-height: 600px;
}
.closeButton{
  position: fixed;
  top:15px;
  right:15px;
}
.wrapper {
  padding: 5% 10%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.192);
  backdrop-filter: blur(3px);
  height: 100vh;
  overflow: auto;
  width: 100%;
  top: 0;
  left: 0;
  z-index: var(--media-select);
}
@media screen and (max-width: 1000px) {
  .wrapper {
    padding: 10% 3%;
  }
  .container {
    grid-template-columns: 300px 1fr;
  }
}
