
.container{
    padding:0 30px;
    padding-top: 50px;
    max-width: 1200px;
    margin:0 auto;
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 1fr;
}
.cartItem{
    display: flex;
    &Thumb{
        width:70px;
        height:70px;
        margin-right: 15px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('./no-bg.png');
    }
    &Button{
        button{
           width:50px;
        }
    }
}